.category-item{
    width: 300px;
    margin-bottom: 10px;
}
.category-item img{
    width: 95%;
    height: 300px;
}
.category-item .category-details{
    text-align: center;
    font-size: 1.3rem;
}
.category-item .category-name{
    font-weight:bold ;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 5px;
}
.category-item .product-stock{
    color: var(--main-color-gray);
    padding: 5px;
}
/* *********** MEDIA **********/
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 992px) {
  .categories-list{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
 .categories-list{
    justify-content: center;
}
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 427px) {
    .category-item{
        width: 90%;
        justify-content: center;
  }
} 
