.special-products{
    flex-wrap: nowrap;
}
.special-product-list {
  width: 300px;
}
.special-product-item {
  height: 120px;
  border: 1px solid #ccc;
  margin-top: 10px;
  cursor: pointer;
}
.special-product-item:hover {
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
}
.special-product-item .special-product-image {
  width: 80px;
}
.special-product-item .special-product-image img {
  height: 95%;
  margin: 3px 0 0 3px;
}
.special-product-item .special-product-details h4 {
  margin: 0;
}
.special-product-item .special-product-details del {
  color: var(--main-color-gray);
}
.special-product-item .special-product-details {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.special-product-list h2 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}
.special-product-list h3 {
  font-weight: normal;
  font-size: 0.9rem;
  text-align: center;
}
.special-product-details .product-name h3 {
  margin-top: 5px;
}
/* *********** MEDIA ***********/
@media screen and (max-width: 1200px) {
  .special-products {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 992px) {
  .special-products {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .special-products {
    justify-content: center;
    flex-wrap: wrap;
    
  }
}
@media screen and (max-width: 576px) {
  .special-products {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 427px) {
    .special-product-list{
        width: 90%;
        justify-content: center;
    }
}
